/*styles go here*/

p {
  color: #4f4f4f;
  font-family: "Raleway", Arial, sans-serif;
  text-align: center;
}

.italic {
	font-style: italic;
}

header, article, aside, footer {
  flex: 1 100%;
  padding: 10px;
}

h1 {
  font-family: "Playfair Display", "Times New Roman", serif;
  text-align: center;
}

.bold {
  font-weight: bold;
}

body {
  background-color: #e9d1dd;
  text-align: center;
}

#container {
  width: 95%;
  margin: 0 auto 0 auto
}

#nav {
  padding: 0;
  list-style-type: none;
}

#nav li {
  margin: 0;
  padding:0;
  border-bottom: 1px solid #ccc;
}

.navigation{
	list-style: none;
	margin: 0;
	background: gray;
    padding: 0;
    display: flex;
	flex-flow: column;
}

#nav a:link, #nav a:visited {
  display: block;
  color: #ffffff;
  background-color: #cd7da5;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 4px;
  font-family: "Raleway", Arial, sans-serif;
}

#nav a:hover, #nav a:active {
  background-color: #AAD7F6;
}

.caption {
  color: black;
  font-family: Georgia, "Times New Roman", serif;
  margin-top: 0;
  font-style: italic;
  font-size: 0.8em;
  text-align: right;
}

#footer {
  color: grey;
  font-family: "Playfair Display", "Times New Roman", serif;
  font-size: 0.8em;
  border-top: 1px solid grey;
}

.navigation a {
  text-decoration: none;
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
}

.navigation li:last-of-type a{
  border-bottom: none;
}

@@media (min-width: 800px) {

  .navigation {
    flex-flow: row wrap;
    justify-content: flex-end;
  }

  aside {
    flex: 1 auto;
  }

  article {
    flex: 2 auto;
  }

  .aside-1 {
    order: 1;
  }

  article {
    order: 2;
  }

  footer {
    order: 4;
  }

img {
  border: none;
}
